.image-slider {
    /* display: flex;
    width: 50vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 700px; */
 display: flex;
 justify-content: center;
 position: absolute;
    padding-left: 210px;
    
    gap: 0rem;
  }
.taglines {
font-size: 27px;
line-height: 100px;
margin: 20px 10px 10px 10px;

}
.right-top {
gap: 20rem;
background-color: #D3D3D3;
}
.health {
  color: rgba(2,48,71);
  font-size: 65px;
}

  .logos{
    background-color: rgba(2,48,71);
    height: 75px;
    width: 355px;
    text-align: center;
   
  }
  .text-logo{
    text-align: center;
       /*why doesnt it work ? */
    color: white;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  .slider-image {
    max-width: 1000px;
    max-height: 500px; /* Set the maximum height for your images */
    object-fit: contain;
    display: flex;

    border-radius: 10px;
    justify-content: center;
    align-items: center;
     /* Adjust the image positioning inside the container */
  }
  
  .slider-buttons {
    position: absolute;
    bottom: 0;
    top: 5;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  
  }
  
  .slider-buttons button {
    font-size: 40px;
    margin: 0 20px;
    background-color: white;
   
  }

  